@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  padding: 0;
  list-style: none;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

header {
  height: 100px;
  background-color: #1d2e35;
  color: white;
  margin-bottom: 40px;
}
.user-profile {
  padding: 10px;
}
.logout-btn {
  float: right;
  right: 0;
}

/* style log for unresolved query */

.table-container {
  margin-top: 30px;
  width: 80%;
  margin: 0 auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}
tr:first-child {
  background-color: #95a5a6;
}

td,
th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container-add-intent {
  text-align: center;
  margin: 30px 0;
}

/* add intent */

.add-intent {
  padding: 10px;
  background-color: #ff5733;
  border: none;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  color: #ffffff;
}
.add-intent:hover {
  background-color: #ff8933;
}

dialog {
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  padding: 1.6rem;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  max-width: 900px;
}
.container-confirm-discard {
  margin-top: 20px;
}

.confirm-button {
  padding: 10px;
  background-color: #0065fc;
  border: none;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  color: #ffffff;
  margin: 5px;
}
.discard-button {
  padding: 10px;
  background-color: #ff4b33;
  border: none;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  color: #ffffff;
}

/* new intent form */

.form-add-intent label {
    display: block;
	margin: 0px 0px 15px 0px;
}

.form-add-intent label > span{
	width: 200px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-add-intent label > input{
	display: inline-block;
}

.add-pattern {
    padding:3px;
    background-color: #339cff;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    color: #ffffff;
    margin: 0 auto;
    display: block;
}

.stackInput {
  display: block;
  margin: 0 53%;
}